<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h1>Create a New Listings</h1>
    <form
      method="POST"
      action="/listings"
      class="needs-validation"
      enctype="multipart/form-data"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Enter Title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title Looks Good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input name="listing[image]" type="file" class="form-control" required/>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter a valid Price!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Mumbai,India"
          type="text"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select name="listing[category]" id="category" class="form-control" required>
          <option value="" disabled selected>Select a Category</option>
          <option value="Trending">Trending</option>
          <option value="Rooms">Rooms</option>
          <option value="Cold">Cold</option>
          <option value="Warm">Warm</option>
          <option value="Peaceful">Peaceful</option>
          <option value="AwesomePools">Awesome Pools</option>
          <option value="Beach">Beach</option>
          <option value="Home">Home</option>
          <option value="Castle">Castle</option>
          <option value="Ancient">Ancient</option>
          <option value="OnMountain">On Mountain</option>
        </select>
      </div>
      <div class="mb-3">
        <button class="btn btn-dark" type="submit">Add Listing</button>
      </div>
    </form>
  </div>
</div>
