body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.card-listing {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-hover:hover {
  opacity: 0.9;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #ebebeb;
}

.show-img {
    height: 30vh;
  }
/* Buttons */
.add-btn:hover {
  background-color: #fe424d !important;
  border: none !important;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: flex-start;
  padding-left: 0 !important;
}

/* MAPS */
#map {
  display: flex;
  height: 25rem;
  width: 40rem;
  border-radius: 1.5rem;
}
.marker{
  background-image: url('https://res.cloudinary.com/dmf0l0i74/image/upload/v1742843647/juiurfuztimz96nuktmu.png');
  background-size:cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.marker:hover{
  background-image: url('https://res.cloudinary.com/dmf0l0i74/image/upload/v1742843647/juiurfuztimz96nuktmu.png');
  background-size:cover;
  width: 70px;
  height: 90px;
  transform: scaleY(1.5);
  cursor: pointer;
}


/* navbar */
.login-items {
  width: max-content;
  display: flex;
}

.filters {
  width: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}
.filter {
  width: 3rem;
  margin-left: 1px;
  text-align: center;
  margin-top: 1rem !important;
  opacity: 0.67;
  cursor: pointer;
}
.filter:hover {
  opacity: 1;
  scale: 1.27;
}
.list {
  /* justify-content:center;
  flex-wrap: wrap; */
  margin-top: 5rem !important;
  /* position: absolute; */
  position: fixed;
  z-index: 1;
}
.card-listing {
  margin-top: 3rem !important;
}

.filter p {
  font-size: 0.5rem;
}

.tax-info {
  display: none;
}

.card-label {
  font-size: 0.7rem;
  font-family: "Plus Jakarta Sans";
}

.tax-toggle:hover{
  background-color: #dddddd;
}

@media (max-width: 768px) {
  .filter {
    width: 1.5rem;
    margin-left: 0.5rem;
    justify-content: space-evenly;
  }
  .filter p {
    font-size: 0.5rem;
  }
  .card-label {
    width: 2rem;
    font-size: 0.4rem;
  }
  .filter i {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .filter {
    width: 0.5rem;
    margin-left: 0.25rem;
    justify-content: space-evenly;
  }
  .filter p {
    font-size: 0.3rem;
  }
  .card-label {
    width: 2rem;
    font-size: 0.3rem;
  }
  .filter i {
    font-size: 0.6rem;
  }
}